<div class="row">
  <% if product.sale? %>
    <div class="col-6">
      <h2 class="card-text price sale text-end">
        <%= product.price %>
      </h2>
    </div>
    <div class="col-6">
      <h2 class="card-text price">
        <%= product.price %>
      </h2>
    </div>
    <% else %>
      <div class="col-6">

      </div>
      <div class="col-6">
        <h2 class="card-text price">
          <%= product.price %>
        </h2>
      </div>
      <% end %>
</div>