#cart{
    width: 110px;
    position: fixed;
    height: 100px;
    background-color: rgba(30, 40, 180, 0.8);
    right: 0;
    top: 150px;
    z-index: 9999;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    .cart{
        position: absolute;
        top: 50%;
        left: 12px;
        margin-top: -40px;
    }
    .cart-icon{
        color: rgb(32, 44, 207);
        position: relative;
        font-size: 45px;
        background: rgb(123, 158, 223);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        line-height: 80px;
        text-align: center;
        &.q-10 {
            &:after{
           content: attr(data-quantity);
           position: absolute;
           color: black;
           top: 5px;
           right: 14px;
           border-radius: 50%;
           width: 30px;
           height: 30px;
           background-color: white;
           margin-top: 10px;
           line-height: 30px;
           font-size: 21px;
           }
        }
        .icon{
            margin-left: -10px;
            font-size: 32px;
            position: relative;
        }
    }
}