.font-base{
    font-family: "PT Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.fs-7 {
    font-size: 3.58318rem !important;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.bg-soft-primary {
    background-color: #d9e7ff !important;
}
.bg-soft-warning {
    background-color: #ffe9d9 !important;
}
.bg-soft-success {
    background-color: #dff1e5 !important;
}
.btn-warning {
    color: #FFFEFE;
    background-color: #FF6A00;
    border-color: #FF6A00;
}
.btn-outline-warning {
    color: #fc660f;
    border-color: #fc660f;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 2.8rem;
    font-size: 1rem;
    border-radius: 0;
}

.btn {
    display: inline-block;
    font-weight: 700;
    line-height: 1.5;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
}

.badge-circle {
    height: 4.4rem;
    width: 4.4rem;
    border-radius: 50%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 1rem;
}
.badge {
    line-height: 0.8125rem;
}
.badge {
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    color: #FFFEFE;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.text-primary {
    color: #005DFF !important;
}
.text-warning {
    color: #FF6A00 !important;
}
.text-success {
    color: #28A154 !important;
}
.align-items-center {
    -webkit-box-align: center !important;
    align-items: center !important;
}
.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important;
}
.flex-center {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.rounded-3{
    border-radius: 1.25rem !important;
}

.card-span {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border: 0;
}

.clickr-tabs {  
    .nav-link {
      border: 2px solid transparent;
      color:$gray-600;
      font-weight: 700;
      &:hover,
      &:focus {
        border-color: transparent;
      }
    }
  }

.mb-6{
    margin-bottom: 4rem !important;
}
.fs-lg-6 {
    font-size: 2.98598rem !important;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "PT Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    line-height: 1.2;
    color: #212121;
}

.py-8 {
    padding-top: 7.5rem !important;
    padding-bottom: 7.5rem !important;
}