.item{
  cursor: pointer;
  &:hover{
      box-shadow: rgb(43, 41, 43) 5px 5px 20px;
  }
  .img{
    margin: auto;
    width: 50%;
    height: 200px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .m96{
    max-height: 96px;
    min-height: 96px;
  }
  .product-item{
    width: 19.5rem;
  }
  
  a{
    text-decoration: none;
  }
  .price{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    &:after{
      content: 'đ';
      position:absolute;
      top: -8px;
    }
    &.sale{
      text-decoration:line-through;
      font-weight: normal;
      font-size: 15px;
    }
  }
 
}
.product{
  width: 86%;
  margin: auto;
}

.price{
  font-size: 20px;
  font-weight: bold;
  position: relative;
  &:after{
    content: 'đ';
    position:absolute;
    top: -8px;
  }
  &.sale{
    text-decoration:line-through;
    font-weight: normal;
    font-size: 15px;
  }
}

.product-description{
  height: 240px;
}

.textsl{
  font-size: 0.8em;
}