@import 'bootstrap/scss/bootstrap';
@import './common';
@import './product';
@import './vendors/fonts/font-awesome';
@import './cart';
@import '@splidejs/splide/dist/css/splide.min.css';
@import './variables';
@import './home';



body{
  background-color: rgb(212,175,55);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 0px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fd7e14; 
    border-radius: 0px;
  }

  .splide{
    width: 100%;
    .splide__slide{
      width: 50px;
      height: 400px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }

