@import 'bootstrap/scss/bootstrap';

body{
    background-color: rgb(153, 149, 149);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item{
    cursor: pointer;
    &:hover{
        box-shadow: rgb(43, 41, 43) 5px 5px 15px;
    }
    
}