@import 'bootstrap/scss/bootstrap';
@import './common';
@import './product';
@import './vendors/fonts/font-awesome';
@import './cart';


body{
    background-color: rgb(228, 161, 219);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 0px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fd7e14; 
    border-radius: 0px;
  }

