<section class="py-0">

    <div class="container">
      <div class="bg-holder z-index--1 rounded-3" style="background-image:url(assets/img/gallery/cta-bg.png);background-position:center;background-size:cover;">
      </div>
      <!--/.bg-holder-->

      <div class="row flex-center py-5">
        <div class="col-xxl-9 py-5 text-center">
          <h1 class="fw-bold mb-6 fs-lg-7">Get your commercial product<br>images today that matter </h1><a class="btn btn-lg btn-warning rounded-pill" href="#">Get Started Now<i class="fas fa-check ms-2"></i></a>
        </div>
      </div>
    </div><!-- end of .container-->

  </section>