<section class="py-0" id="howitworks">

    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-center">How It happens </p>
          <h1 class="text-center lh-sm fs-lg-6 fs-xxl-7">You deliver-We Click</h1>
        </div>
      </div>
      <div class="row mt-6">
        <div class="col-12 col-md-4 d-flex flex-column align-items-center">
          <div class="badge badge-circle bg-soft-primary flex-center">
            <div class="text-primary fs-7 font-base">1</div>
          </div>
          <h5 class="text-primary text-center mt-3">Inform us about your product </h5>
          <p class="text-center mx-xl-7">Introduce your product, select through the pricing plan and let us know if you have any references in mind</p>
        </div>
        <div class="col-12 col-md-4 d-flex flex-column align-items-center">
          <div class="badge badge-circle bg-soft-warning flex-center">
            <div class="text-warning fs-7 font-base">2</div>
          </div>
          <h5 class="text-primary text-center mt-3">Deliver your products </h5>
          <p class="text-center mx-xl-7">Deliver the sujects at our doorstep, we will click perfect shots in no time and make it online ready</p>
        </div>
        <div class="col-12 col-md-4 d-flex flex-column align-items-center">
          <div class="badge badge-circle bg-soft-success flex-center">
            <div class="text-success fs-7 font-base">3 </div>
          </div>
          <h5 class="text-primary text-center mt-3">Reviewing the shots</h5>
          <p class="text-center mx-xl-7">After the photoshoot, you will get to review the shots and let us know if there any modification needed.</p>
        </div>
      </div>
      <hr class="mt-6">
    </div><!-- end of .container-->

  </section>