<section class="bg-100 py-7" id="packages">

    <div class="container-lg">
      <div class="row justify-content-center">
        <div class="col-12">
          <h1 class="text-center lh-sm fs-lg-6 fs-xxl-7">Our Packages</h1>
        </div>
      </div>
      <div class="row h-100 justify-content-center">
        <div class="col-md-4 pt-6 px-sm-7 px-md-2 px-lg-3">
          <div class="card h-100 rounded-3 bg-soft-primary">
            <div class="bg-holder rounded-3" style="background-image:url(assets/img/gallery/pricing-primary.png);background-position:top right;background-size:auto;">
            </div>
            <!--/.bg-holder-->

            <div class="card-body z-index-2">
              <div class="ms-4">
                <h5 class="my-4 text-800">Basic</h5>
                <h1 class="fs-7 text text-primary">$9</h1>
                <h6 class="fs--1 mb-6 text-primary">/ per image</h6>
                <ul class="list-unstyled">
                  <li class="mb-3 text-900"><i class="fas fa-check-circle text-700 me-2"></i>High quality images
                  </li>
                  <li class="mb-3 text-900"><i class="fas fa-check-circle text-700 me-2"></i>Single Revision
                  </li>
                  <li class="mb-3 text-900"><i class="fas fa-check-circle text-700 me-2"></i>10 Products per order
                  </li>
                  <li class="mb-3 text-900"><i class="fas fa-check-circle text-700 me-2"></i>Not providing softcopy
                  </li>
                  <li class="mb-3 text-900"><i class="fas fa-check-circle text-700 me-2"></i>Free return shipment
                  </li>
                </ul>
              </div>
              <div class="my-5 text-center">
                <button class="btn textbtn btn-lg btn-outline-primary rounded-pill" type="button">Choose plan</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 pt-6 px-sm-7 px-md-2 px-lg-3">
          <div class="card h-100 rounded-3 bg-soft-warning">
            <div class="bg-holder rounded-3" style="background-image:url(assets/img/gallery/pricing-warning.png);background-position:top right;background-size:auto;">
            </div>
            <!--/.bg-holder-->

            <div class="card-body z-index-2">
              <div class="ms-4">
                <h5 class="my-4 text-800">Avarage</h5>
                <h1 class="fs-7 text text-warning">$29</h1>
                <h6 class="fs--1 mb-6 text-warning">/ per image</h6>
                <ul class="list-unstyled">
                  <li class="mb-3 text-900"><i class="fas fa-check-circle text-700 me-2"></i>High quality images
                  </li>
                  <li class="mb-3 text-900"><i class="fas fa-check-circle text-700 me-2"></i>5 Revisions
                  </li>
                  <li class="mb-3 text-900"><i class="fas fa-check-circle text-700 me-2"></i>25 Products per order
                  </li>
                  <li class="mb-3 text-900"><i class="fas fa-check-circle text-700 me-2"></i>Provides softcopy &amp; PSD
                  </li>
                  <li class="mb-3 text-900"><i class="fas fa-check-circle text-700 me-2"></i>Free return shipment
                  </li>
                </ul>
              </div>
              <div class="my-5 text-center">
                <button class="btn textbtn btn-lg btn-warning hover-top btn-glow rounded-pill border-0" type="button">Choose plan</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 pt-6 px-sm-7 px-md-2 px-lg-3">
          <div class="card h-100 rounded-3 bg-soft-success">
            <div class="bg-holder rounded-3" style="background-image:url(assets/img/gallery/pricing-success.png);background-position:top right;background-size:auto;">
            </div>
            <!--/.bg-holder-->

            <div class="card-body z-index-2">
              <div class="ms-4">
                <h5 class="my-4 text-800">Professional</h5>
                <h1 class="fs-7 text text-success">$19</h1>
                <h6 class="fs--1 mb-6 text-success">/ per image</h6>
                <ul class="list-unstyled">
                  <li class="mb-3 text-900"><i class="fas fa-check-circle text-700 me-2"></i>High quality images
                  </li>
                  <li class="mb-3 text-900"><i class="fas fa-check-circle text-700 me-2"></i>3 Revisions
                  </li>
                  <li class="mb-3 text-900"><i class="fas fa-check-circle text-700 me-2"></i>50 Products per order
                  </li>
                  <li class="mb-3 text-900"><i class="fas fa-check-circle text-700 me-2"></i>Provides softcopy
                  </li>
                  <li class="mb-3 text-900"><i class="fas fa-check-circle text-700 me-2"></i>Free return shipment
                  </li>
                </ul>
              </div>
              <div class="my-5 text-center">
                <button class="btn textbtn btn-lg btn-outline-success rounded-pill" type="button">Choose plan </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--end of .container-->

  </section>