<section class="bg-light py-5" id="services">

    <div class="container">
      <div class="row">
        <h1 class="text-center lh-sm mb-5 fs-lg-6 fs-xxl-7">Our Services</h1>
        <div class="col-12">
          <div class="card mb-3 hover-top-shadow rounded-3 py-3 bg-soft-primary">
            <div class="row g-0 flex-center">
              <div class="col-md-5 col-lg-4 text-center order-0"><%= image_pack_tag "home/services-shoe-blue.png", class:"text-center w-100 lozad"%></div>
              <div class="col-md-7 col-lg-8">
                <div class="card-body ps-5 p-lg-8">
                  <h2 class="card-title mb-4 text-primary">Photo Preview</h2>
                  <p class="card-text mb-4 fs-1 pe-xxl-8">Invest on your commercial product photography on a visual story created by our creative team. Each click at the most reasonable price going to pay you more.</p>
                  <div class="d-flex flex-row"><a class="btn textbtn px-0 me-3 text-primary" href="#!">View portfolio<i class="fas fa-arrow-right ms-2"></i></a><a class="btn text-primary" href="#!">Pricing<i class="fas fa-arrow-right hvr-icon-forward ms-2"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 hover-top-shadow rounded-3 py-3 bg-soft-success">
            <div class="row g-0 flex-center">
              <div class="col-md-5 col-lg-4 text-center order-lg-1"><%= image_pack_tag "home/services-shoe-green.png", class:"text-center w-100 lozad"%></div>
              <div class="col-md-7 col-lg-8">
                <div class="card-body ps-5 p-lg-8">
                  <h2 class="card-title mb-4 text-success">Product Revision</h2>
                  <p class="card-text mb-4 fs-1 pe-xxl-8">It's not just another edge correcting service. A team trusted by more than 5,000 brands will work at your product with care and creativity.</p>
                  <div class="d-flex flex-row"><a class="btn textbtn px-0 me-3 text-success" href="#!">View portfolio<i class="fas fa-arrow-right hvr-icon-forward ms-2"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end of .container-->

  </section>